/* ----------------------------ESTILOS GENERALES----------------------------- */
body {

    font-family: 'Dosis', sans-serif;
    background-color: #E5E5DB;
    height: 580px;


}
/* tema original */
.cuerpazo {

    font-family: 'Dosis', sans-serif;
    background-color: #E5E5DB;
    height: 580px;


}
/* tema oscuro */
.cuerpazo2 {

    font-family: 'Dosis', sans-serif;
    background-color: #78909C;
    height: 580px;


}
/* tema veraniego */
.cuerpazo3 {

    font-family: 'Dosis', sans-serif;
    background-color: lightyellow;
    height: 580px;


}
/* tema original */
.cabecera {
    height: 60px;
    margin: left;
    background-color: #3C948B;
    margin-top: 0px;
    color: white;
    text-align: center;
    top: 0;
    width: 100%;
}
/* tema oscuro */
.cabecera2 {
    height: 60px;
    margin: left;
    background-color: #000000;
    margin-top: 0px;
    color: white;
    text-align: center;
    top: 0;
    width: 100%;
}

/* tema veraniego */
.cabecera3 {
    height: 60px;
    margin: left;
    background-color: #006DB4;
    margin-top: 0px;
    color: white;
    text-align: center;
    top: 0;
    width: 100%;
}

#cabecera1 {
height: 60px;
float: left;
width: 70%;
}
#cabecera1 img {
height: 45px;
float: left;
width: 45px;
margin-top: 7px;
margin-left: 5px;
}
#cabecera2 {
height: 60px;
float: left;
width: 30%;
}
#cabecera2 a {
color: white;
}
/* tema original */
.pie {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #3C948B;
    bottom: 0;
    color: white;
    text-align: center;
}
/* tema oscuro */
.pie2 {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #000000;
    bottom: 0;
    color: white;
    text-align: center;
}
/* tema veraniego */
.pie3 {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #006DB4;
    bottom: 0;
    color: white;
    text-align: center;
}

/* --------------------------ESTILOS PARA EL LOGIN-------------------------- */

.logform {
    margin-left: 35%;
    margin-top: 180px;
    width: 30%;
    height: 200px;
   background-color: white;

}
.formcab {
    width: auto;
    height: 30px;
    text-align: center;
    background-color: #3C948B;
    padding-top: 5px;
    color: white;
    
}

.formcont {
    text-align: center;
    padding-top: 30px;
}
.botoncrear {
    margin-left: 35%;
    margin-top: 40px;
    width: 30%;
    height: 40px;
   background-color: #01579B;
    text-align: center;
    padding-top: 7px;

}
.botoncrear a {
    text-decoration: none;
    color: white;
}
.creado {
    margin-left: 35%;
    margin-top: 80px;
    width: 30%;
    height: 40px;
   background-color: #01579B;
    text-align: center;
    padding-top: 7px;
}
.botoncrear2 {
    margin-left: 35%;
    margin-top: 40px;
    width: 30%;
    height: 40px;
   background-color: #01579B;
    text-align: center;
    padding-top: 7px;

}
.botoncrear2 a {
    text-decoration: none;
    color: yellow;
}
/* --------------------------ESTILOS PARA LA CREACION DE USUARIOS-------------------------- */

.creaform {
    margin-left: 35%;
    margin-top: 180px;
    width: 30%;
    height: 300px;
   background-color: white;
}
.formcab {
    width: auto;
    height: 30px;
    text-align: center;
    background-color: #3C948B;
    padding-top: 10px;
    color: white;
    
}

.formcont {
    text-align: center;
    padding-top: 30px;
}
/* -----------------ESTILOS PARA EL DISPLAY DE LISTAS DE REPRODUCCION------------ */
.listas {
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    width: 30%;
    height: 400px;
    background-color: white;   
}
/* tema original */
.liscab {
     width: auto;
    height: 30px;
    text-align: center;
    background-color: #607D8B;
    padding-top: 5px;
    color: white;
}
/* tema oscuro */
.liscab2 {
     width: auto;
    height: 30px;
    text-align: center;
    background-color: #424242;
    padding-top: 5px;
    color: white;
}
/* tema veraniego */
.liscab3 {
     width: auto;
    height: 30px;
    text-align: center;
    background-color: #006DB4;
    padding-top: 5px;
    color: white;
}
/* tema original */
.liscont {
    text-align: center;
    padding-top: 20px;
    background-color: #B2EBF2;
    height: 345px;
     overflow: scroll;
}
/* tema oscuro */
.liscont2 {
    text-align: center;
    padding-top: 20px;
    background-color: #37474F ;
    height: 345px;
     overflow: scroll;
}
/* tema veraniego */
.liscont3 {
    text-align: center;
    padding-top: 20px;
    background-color: #FF7D4A ;
    height: 345px;
     overflow: scroll;
}
/* tema original */
.listausu {
margin-left:-40px;
margin-top: -18px;
}
.listausu li {
list-style-type: none;
    margin-bottom: 2px;
height: 30px;
padding-top: 5px;
}
.listausu li:hover {
background-color: #03A9F4;
}
.listausu li img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    float: left;
}
.listausu a {
    text-decoration: none;
    color: black;
}
/* tema oscuro */
.listausu2 {
margin-left:-40px;
margin-top: -18px;
}
.listausu2 li {
list-style-type: none;
    margin-bottom: 2px;
height: 30px;
padding-top: 5px;
}
.listausu2 li:hover {
background-color: #455A64;
}
.listausu2 li img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    float: left;
}
.listausu2 a {
    text-decoration: none;
    color: gray;
}
/* tema veraniego */
.listausu3 {
margin-left:-40px;
margin-top: -18px;
}
.listausu3 li {
list-style-type: none;
    margin-bottom: 2px;
height: 30px;
padding-top: 5px;
}
.listausu3 li:hover {
background-color: yellow;
}
.listausu3 li img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    float: left;
}
.listausu3 a {
    text-decoration: none;
    color: blue;
}
/* ------------ESTILOS PARA EL DISPLAY DE CANCIONES DE LAS LISTAS------------ */
.canciones {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    width: 50%;
    height: 400px;
    background-color: white;   
}
/* tema original */
.cancab {
     width: auto;
    height: 30px;
    text-align: center;
    background-color: #607D8B;
    padding-top: 5px;
    color: white;
}
/*tema oscuro */
.cancab2 {
     width: auto;
    height: 30px;
    text-align: center;
    background-color: #424242;
    padding-top: 5px;
    color: white;
}
/*tema veraniego */
.cancab3 {
     width: auto;
    height: 30px;
    text-align: center;
    background-color: #006DB4;
    padding-top: 5px;
    color: white;
}
/* tema original */
.cancont {
    padding-top: 10px;
    background-color: #B2EBF2;
    height: 360px;
     overflow: scroll;
}

.cancont li {
list-style-type: none;
margin-bottom: 2px;
height: 30px;
padding-top: 5px;
cursor: pointer;
}
.cancont li:hover {
background-color: #03A9F4;
}
.cancont li img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    float: left;
}
/* tema oscuro */
.cancontalt {
    padding-top: 10px;
    background-color: #37474F;
    height: 360px;
    overflow: scroll;
}

.cancontalt li {
list-style-type: none;
margin-bottom: 2px;
height: 30px;
padding-top: 5px;
cursor: pointer;
    color: gray;
}
.cancontalt li:hover {
background-color: #455A64;
}
.cancontalt li img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    float: left;
}
/* tema veraniego */
.cancontalt2 {
    padding-top: 10px;
    background-color: #FF7D4A;
    height: 360px;
    overflow: scroll;
}

.cancontalt2 li {
list-style-type: none;
margin-bottom: 2px;
height: 30px;
padding-top: 5px;
cursor: pointer;
    color: blue;
}
.cancontalt2 li:hover {
background-color: yellow;
}
.cancontalt2 li img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    float: left;
}
.caninfo {
text-align: right;
font-style: italic;
margin: 0px;
margin-top: -12px;
margin-right: 5px;
}

/* ----------------------- ESTILOS DEL REPRODUCTOR -------------------- */
#audio {
align-content: center;
    margin-top: 15px;
}
.actual {
    width: 33%;
    float: left;
}
.rep {
    width: 33%;
    float: left;
}
.siguiente {
width: 33%;
float: left;
}
/* -----------------ESTILOS PARA LA SELECCION DE TEMAS ------------------------- */
.temas {
    width: 10%;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    height: 155px;
    background-color: gray;
    
}
.cabtema {
     width: auto;
    height: 30px;
    text-align: center;
    background-color: #424242;
    padding-top: 5px;
    color: white;
    
}
.cabtema2 {
    padding-top: 10px;
    height: 105px;
     color: #FFCCBC;
    text-align: center;
}

.cabtema2 li {
list-style-type: none;
margin-bottom: 2px;
height: 30px;
padding-top: 5px;
cursor: pointer;
}
.cabtema2 li:hover {
background-color: black;
}
.cabtema2 a {
    text-decoration: none;
     color: white;
}
/* --------------------- ESTILOS FORMULARIO DE EDITAR ------------------------------- */
.editarlista {
float: left;
margin-top: 80px;
margin-left: 20%;
width: 60%;
text-align: center;
background-color: palegreen;
    height: inherit;
}
.editn {
    color: white;
    width: 100%;
     height: 50px;
    conten-align: center;
    background-color: #3949AB;
    margin-top: 0px;
    padding-top: 1px;
}

select[multiple] {
  width: 95%;
    height: 200px;
}
.editc {
    margin-top: 50px;
    clear: both;
float: left;
width: 40%;
background-color: #4FC3F7;
margin-left: 5%;
}
.editc2 {
    margin-top: 50px;
margin-left: 10%;
float: left;
width: 40%;
background-color: #FFA726;
}
/* ---------------------------- ESTILOS PARA FORMULARIO DE CREAR ----------------------------- */
.incluir {
    margin-top: 30px;
}
/* ---------------------------- ESTILOS PARA EL BOTON DE CREAR ----------------------------- */
.nuevalista{
    width: 300px;
    height: 30px;
    margin-left: 40%;
    margin-top: 20px;
    padding-top: 5px;
    background-color: #1A237E;
    text-align: center;
}
.nuevalista a {
color: white;
 text-decoration: none;
}
/* ---------------------------- ESTILOS PARA EL BOTON DE BORRAR ----------------------------- */
.borralista{
    clear: both;
    width: 300px;
    height: 30px;
    margin-left: 35%;
    margin-top: 30px;
    padding-top: 5px;
    background-color: red;
    float: left;
    text-align: center;
}
.borralista a {
color: white;
 text-decoration: none;
}

/* ----------------------------- ESTILOS DE LAS BARRAS LATERALES DE SCROLL ----------------------- */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #BBDEFB;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #42A5F5;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #2962FF;
}
/* ----------------------------- ESTILOS PARA LA ZONA DE ADMINISTRACIÓN ----------------------- */
.tablaadm img {
    height: 30px;
    width: 30px;
}
table {
width: 100%;
   overflow: scroll; 

}
table th {
width: 20%;
    height: 50px;
    background-color: #7E57C2;
    color: white;
}
table td {
width: 20%;
height: 30px;
}

.tablaadm {
float: left;
margin-top: 40px;
margin-left: 20%;
width: 60%;
text-align: center;
background-color: #9FA8DA;
height: inherit;
    overflow: scroll;
    margin-bottom: 5px;
    margin-bottom: 100px;
}
/* ----------------------------- ESTILOS PARA LA ZONA DE EDICIÓN DE LISTAS (ADMINISTRACIÓN) ----------------------- */
.cancont2 {
    padding-top: 10px;
    background-color: #B2EBF2;
    height: 360px;
     overflow: scroll;
}
.cancont2 li {
list-style-type: none;
margin-bottom: 2px;
height: 30px;
padding-top: 5px;
cursor: pointer;
}
.cancont2 li:hover {
background-color: #F44336;
color: white;
}
.cancont2 li img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    float: left;
}

/* -----------------------------------------DASHBOARD -------------------------------------------------------- */
.dashboard {
margin-left: 32px;
}
.dashboard2 img {
width: 600px;
height: 350px;
}